Source: centrum-djangobaselibrary-djangobaseproject-auto
Section: apps
Priority: optional
Maintainer:
Uploaders:
Build-Depends: cdbs (>= 0.4.41), debhelper (>= 5.0.37.2), python-dev, python-support (>= 0.3), python-setuptools, centrum-python-setuptoolsdummy
Standards-Version: 3.7.2

# main python package
Package: centrum-djangobaselibrary-djangobaseproject-auto
Provides: centrum-djangobaselibrary-djangobaseproject
Conflicts: centrum-djangobaselibrary-djangobaseproject
Replaces: centrum-djangobaselibrary-djangobaseproject
Architecture: all
Depends: centrum-python-djangobaselibrary, apache2, libapache2-mod-wsgi, memcached, python-mysqldb, python-docutils, python-memcache, mysql-client, centrum-djangobaselibrary-config, centrum-python-south
Description: Django Base Project

# cron package
Package: centrum-djangobaselibrary-djangobaseproject-auto-cron
Provides: centrum-djangobaselibrary-djangobaseproject-cron
Conflicts: centrum-djangobaselibrary-djangobaseproject-cron
Replaces: centrum-djangobaselibrary-djangobaseproject-cron
Architecture: all
Depends: centrum-djangobaselibrary-djangobaseproject-auto
Description: cron jobs for centrum-djangobaselibrary-djangobaseproject-auto

